.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
  flex-flow: wrap;
  background-color: #afd5c0;
  
  
}

body {
  background-color: #afd5c0;
}

